$open-sans: 'Open Sans', Arial, sans-serif;
$hind: 'Hind', Arial, sans-serif;

$light: 300; // Open Sans
$regular: 400; // Open Sans
$medium: 500; // Hind
$semibold: 600; // Hind
$bold: 700; // Open Sans, Hind

::selection {
  background: $black;
  color: $white;
}

body {
  color: $black;
  font-family: $open-sans;
  font-size: 16px;
  font-weight: $regular;
}

h1, h2, h3 {
  color: $blue-dark;
  font-family: $hind;
  font-weight: $bold;
  margin: 0.25em 0 0;
}

h1 {
  font-size: 5em;

  @media (min-width: $baby-bear) {
    font-size: 7em;
  }
}

h2 {
  font-size: 3em;
  text-align: center;

  @media (min-width: $baby-bear) {
    font-size: 4em;
  }
}

h3 {
  color: $black;
  font-size: 1.5em;
}

p, ul {
  font-size: 1em;
  line-height: 1.5;

  @media (min-width: $baby-bear) {
    font-size: 1.25em;
  }
}

ul {
  color: $gray;
  font-size: 1em;
  line-height: 1.75;
  list-style-type: none;
  padding-left: 0;
}

a {
  color: $blue-dark;
  font-weight: $bold;
  text-decoration: none;
  transition: color 300ms ease;

  &:hover {
    color: darken($blue-dark, 10);
    text-decoration: underline;
  }
}