// Breakpoints
$baby-bear: 768px;
$mama-bear: 992px;
$papa-bear: 1200px;

// Colors
$black: #212121;
$blue-lightest: #E1F5FE;
$blue-light: #4FC3F7;
$blue-dark: #0277BD;
$gray-light: #F5F5F5;
$gray: #757575;
$white: #FFFFFF;
