// Breakpoints
$baby-bear: 768px;
$mama-bear: 992px;
$papa-bear: 1200px;

// Colors
$black: #212121;
$blue-lightest: #E1F5FE;
$blue-lighter: #B3E5FC;
$blue-light: #4FC3F7;
$blue-dark: #0277BD;
$gray-light: #F5F5F5;
$gray: #757575;
$orange: #FF9800;
$white: #FFFFFF;

// Social Icon Colors
$facebook: #45619E;
$github: #4177C0;
$linkedin: #137FB9;
$twitter: #1CABE9;
