.contact-form {
  padding-top: 1em;

  input, textarea {
    border: 1px solid $gray-light;
    box-sizing: border-box;
    display: block;
    font-family: $open-sans;
    font-size: 1em;
    font-weight: $light;
    line-height: 1.5;
    margin-bottom: 1em;
    outline: 0;
    padding: 0.5em 0.75em;
    width: 100%;

    &[type="submit"] {
      transition: background 300ms ease;
      background: $blue-lightest;
      border: 0;
      color: $black;
      font-weight: $bold;
      padding: 1em 1.25em;

      &:hover {
        background: $blue-dark;
        color: $white;
        cursor: pointer;
        cursor: hand;
      }
    }

    &:focus {
      border: 1px solid $gray;
    }

    &::placeholder {
      font-family: $open-sans;
    }

    @media (min-width: $baby-bear) {
      font-size: 1.25em;
    }
  }

  textarea {
    height: 9em;
  }
}
