.hero {
  align-items: center;
  background: $blue-dark;
  color: $white;
  display: flex;
  left: 0;
  position: fixed;
  height: 100vh;
  justify-content: center;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.hero-content {
  text-align: center;
  width: 50%;

  h1 {
    @include animate(fadeIn, 0.5s, 0.5s);
    font-size: 7em;
    margin: 0;
  }

  p {
    @include animate(fadeIn, 0.5s, 0.5s);
    font-size: 1.5em;
    margin: 0;
  }
}

.avatar {
  @include animate(fadeInDown, 0.5s, 0.5s);
  height: 18em;
  margin-bottom: 2em;
  width: 18em;
}