.hero {
  align-items: center;
  background: $blue-dark;
  color: $white;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;

  .avatar {
    @include animate(fadeInDown, 0.5s, 0.5s);
    height: 18em;
    margin-bottom: 2em;
    width: 18em;
  }
}

.hero-content {
  text-align: center;

  h1 {
    @include animate(fadeIn, 0.5s, 0.5s);
    color: $white;
    margin: 0;
  }

  p {
    @include animate(fadeIn, 0.5s, 0.5s);
    color: $blue-lighter;
    font-size: 1.5em;
    margin: 0;
  }
}

.arrow {
  bottom: 1em;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;

  img {
    @include animate(fadeInUp, 0.5s, 2s);
    height: 2em;
    width: 2em;
  }
}
