.project {
  padding-top: 2em;
  margin-bottom: 3em;

  &:first-of-type {
    padding-top: 3em;
  }

  h3 {
    font-size: 2.5em;
  }

  label {
    font-weight: $regular;
    display: block;
  }

  p:first-child {
    margin-top: -0.25em;
  }
}

.project-content {
  align-items:flex-start;
  padding-top: 2em;

  @media (min-width: $baby-bear) {
    display: flex;
  }

  .img,
  .desc {
    border-spacing: 1em;
  }

  .img {

    .details {
      background: $blue-lightest;
      margin-bottom: 1em;
      padding: 1.5em 0;

      ul {
        display: flex;
        margin: 0;
        text-align: center;

        li {
          flex: 1;
          font-size: 0.8em;

          span {
            background: url('../images/icons/check.svg') 0 center no-repeat;
            background-size: 1.5em;
            color: $black;
            padding: 0.5em 0 0.5em 2em;
          }
        }
      }
    }

    img {
      display: block;
    }

    @media (min-width: $baby-bear) {
      flex: 1;
      margin-bottom: 0;
    }
  }

  .desc {

    @media (min-width: $baby-bear) {
      flex: 2;
      padding-left: 2em;
    }

    @media (min-width: $mama-bear) {
      padding-left: 3em;
    }

    @media (min-width: $papa-bear) {
      padding-left: 3em;
    }
  }

  label {
    font-weight: $bold;
  }

  img {
    width: 100%;
  }

  p {
    flex: 1;
    line-height: 1.45;
  }
}

.links {

  .btn {
    background: $blue-dark;
    color: $white;
    display: inline-block;
    font-size: 1.25em;
    margin: 0.5em 0.75em 2em 0;
    padding: 1.15em 2em 1.25em;
    transition: background 300ms ease;
    width: auto;

    @media (min-width: $baby-bear) {
      margin: 0.5em 2em 2em 0;
      padding: 1.1em 3em 1.2em;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      background: darken($blue-dark, 10);
      cursor: hand;
    }
  }
}

.project-title {
  border-left: 0.5em solid $blue-lightest;
  padding-left: 1em;
}