.project-content {
  align-items:flex-start;
  margin-bottom: 2em;
  padding-top: 2em;

  @media (min-width: $baby-bear) {
    display: flex;
  }

  h3 {
    text-align: center;

    @media (min-width: $baby-bear) {
      text-align: left;
    }
  }

  .img,
  .desc {
    border-spacing: 1em;
  }

  .img {
    border: 0.5em solid $blue-lightest;
    margin-bottom: 1em;

    @media (min-width: $baby-bear) {
      flex: 1;
      margin-bottom: 0;
    }
  }

  .desc {

    @media (min-width: $baby-bear) {
      flex: 4;
      padding-left: 2em;
    }

    @media (min-width: $mama-bear) {
      padding-left: 3em;
    }

    @media (min-width: $papa-bear) {
      padding-left: 4em;
    }
  }

  img {
    width: 100%;
  }

  p {
    flex: 1;
  }
}
