.navbar {
  align-items: center;
  background: $white;
  border-bottom: 1px solid $gray-light;
  display: none;
  height: 6em;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateY(-6.25em);
  transition: transform 300ms ease;
  width: 100%;
  z-index: 3;

  @media (min-width: $baby-bear) {
    display: flex;
  }

  &.active {

    @media (min-width: $baby-bear) {
      transform: translateY(0);
    }
  }

  &.about-me .about-me a,
  &.my-work .my-work a,
  &.contact .contact a {
    color: $blue-dark;

    &:hover {
      text-decoration: none;
    }
  }
}

.navbar-content {
  align-items: center;
  display: flex;
  justify-content: left;
  margin: 0 auto;
  flex-direction: row;

  @media (min-width: $baby-bear) {
    width: $baby-bear;
  }

  @media (min-width: $mama-bear) {
    width: $mama-bear;
  }

  @media (min-width: $papa-bear) {
    width: $papa-bear;
  }

  .avatar {
    border: 1px solid $black;
    border-radius: 50%;
    height: 3.5em;
    margin: 0 1em 0 0;
    width: 3.5em;
  }

  ul {
    color: $black;
    display: flex;
    margin: 0;
    margin-left: auto;
    text-align: right;
    width: 20em;

    li {
      flex: 1;

      a {
        color: $black;
        font-weight: $regular;
        transition: color 300ms ease;
      }
    }
  }

  p {
    font-size: 1em;
  }
}
