.resume {
  background: $blue-dark;
  text-align: center;
  transition: background 300ms ease;

  h3 {
    color: $white;
  }

  &:hover {
    background: darken($blue-dark, 10);
    text-decoration: none;
  }
}