extends layouts/default

block content
  #navbar.navbar
    .navbar-content
      a(data-scroll href="#hero-area")
        img.avatar(src="images/avatar-dark.svg")
      p R.J. LaCount
      ul
        li.about-me #[a(data-scroll href="#about-me") About Me]
        li.my-work #[a(data-scroll href="#my-work") My Work]
        li.contact #[a(data-scroll href="#contact") Contact]
  #hero-area.hero
    .hero-content
      .arrow
        a(data-scroll href="#about-me")
          img(src="images/icons/arrow.svg")
      img.avatar(src="images/avatar.svg")
      h1 Hi! I'm R.J.
      p Nice to meet you.
  .main-content-wrapper
    .main-content
      #about-me
        section.about-me
          .inner-content
            h2 About Me
            p I’m a front-end engineer, homebrewer, and super-nerd in Seattle. I love Android, craft beer, music, and good coffee.
            p I currently work for #[a(href="http://www.deloittedigital.com/us/") Deloitte Digital], volunteer for #[a(href="http://seattlepersianrescue.com") Seattle Persian and Himalayan Rescue], and chase around my internet celebrity cat, #[a(href="http://instagram.com/brimleycat") Brimley]. I take pride in my work, and am always keeping myself busy with one project or another.
        section.social
          .inner-content
            ul
              li
                a.github(href="http://github.com/TheFunkyMonk" title="GitHub")
                  include images/icons/github.svg
              li
                a.facebook(href="http://www.facebook.com/rjlacount" title="Facebook")
                  include images/icons/facebook.svg
              li
                a.twitter(href="http://twitter.com/rjlacount" title="Twitter")
                  include images/icons/twitter.svg
              li
                a.linkedin(href="http://www.linkedin.com/in/rjlacount/" title="LinkedIn")
                  include images/icons/linkedin.svg
        section.tech
          .inner-content
            section
              h3 What I Do
              ul
                li Responsive websites
                li Dynamic web apps
                li WordPress themes
                li SEO
            section
              h3 How I Do It
              ul
                li HTML5 / CSS3
                li JavaScript
                li Gulp / Sass / Pug
                li WordPress
                li AngularJS
            section
              h3 Other Hobbies
              ul
                li Homebrewing
                li Android tinkering
                li Home automation
                li Gaming
      #my-work
        section.my-work
          .inner-content
            h2 My Work
            p Most of the code I write professionally is private / under NDA, but here are a few samples of fun projects you can check out.
            .project
              h3 tapdat
              label Digital Tap List
              .project-content
                .desc
                  p tapdat is a digital tap list app, built to be displayed above our office kegerator. It currently supports coffee, cider, and beer.
                  p I worked side-by-side with visual designers, originally from a Sketch file, then iterating in-browser. Using Contentful, the CMS content is provided as an external API, allowing my app to be extremely light on the front end, and the data easily extendable into other applications (like a Slackbot!).
                  .links
                    a.btn(href="http://tapdat.rjlacount.com/") Live Site
                    a.btn(href="https://github.com/TheFunkyMonk/tapdat") Code
                .img
                  img(src="images/work/tapdat.jpg")
                  .details
                    ul
                      li
                        span Contentful
                      li
                        span Handlebars
            .project
              h3 Seattle Persian and Himalayan Rescue
              label WordPress Site
              .project-content
                .desc
                  p SPHR is a volunteer-run organization that I joined after adopting #[a(href="http://instagram.com/brimleycat") Brimley]. The first order of business was updating their decade-old WordPress site.
                  p I spent time working with their hosting provider to update their server, and put together a new custom WordPress theme for them to use. The site features a feed of adoptable pets from Petfinder, event calendar from Facebook, and online adoption applications.
                  .links
                    a.btn(href="http://seattlepersianrescue.com/") Live Site
                .img
                  img(src="images/work/sphr.jpg")
                  .details
                    ul
                      li
                        span WordPress
            .project
              h3 Seattle Beer Review
              label WordPress Site
              .project-content
                .desc
                  p I started Seattle Beer Review to better develop my beer tasting palate, and attempt to bring a better level of structure, design, and organization to the beer tasting world.
                  p This custom WordPress theme allows for multiple authors to create profiles, author reviews, and assign ratings in accordance to #[a(href="http://seattlebeerreview.com/how-we-review/") BJCP Guidelines].
                  .links
                    a.btn(href="http://seattlebeerreview.com/") Live Site
                    a.btn(href="https://github.com/TheFunkyMonk/seattlebeerreview") Code
                .img
                  img(src="images/work/sbr.jpg")
                  .details
                    ul
                      li
                        span WordPress
      a(href="#").resume
        h3 Download My Resume
      #contact
        section.contact
          .inner-content
            h2 Contact
            p Shoot me an email at #[a(href="mailto:hello@rjlacount.com") hello@rjlacount.com], or fill out the following contact form. I'll get back to you as soon as possible.
            form.contact-form(action="https://formspree.io/hello@rjlacount.com" method="POST")
              input(type="text" name="_gotcha" style="display:none")
              input(type="hidden" name="_next" value="thanks.html")
              input(type="hidden" name="_subject" value="New Contact Form Submission")
              input(type="text" name="name" placeholder="Name")
              input(type="text" name="_replyto" placeholder="Email")
              textarea(name="message" placeholder="Message")
              input(type="submit" value="Submit")
      section.footer
        p &copy; 2016 R.J. LaCount. All rights reserved.