extends layouts/default

block content
  .hero
    .hero-content
      .arrow
        img(src="images/arrow.svg")
      img.avatar(src="images/avatar.svg")
      h1 Hi! I'm R.J.
      p Nice to meet you.
  .main-content-wrapper
    .main-content
      section.about-me
        .inner-content
          h2 About Me
          p I’m a front-end web developer and super-nerd in Seattle, Washington. I love Android, craft beer, music, and coffee.
          p I currently work for #[a(href="http://www.deloittedigital.com/us/") Deloitte Digital], volunteer for #[a(href="http://seattlepersianrescue.com") Seattle Persian and Himalayan Rescue], and chase around my internet celebrity cat, #[a(href="http://instagram.com/brimleycat") Brimley]. I take pride in my work, and am always keeping myself busy.
      section.tech
        .inner-content
          section
            h3 What I Make
            ul
              li Responsive websites
              li Dynamic web apps
              li WordPress themes
          section
            h3 How I Make It
            ul
              li HTML5 / CSS3
              li JavaScript
              li Gulp / Sass / Pug
              li AngularJS
          section
            h3 Other Hobbies
            ul
              li Homebrewing
              li Dreaming
              li Gaming
      section.my-work
        .inner-content
          h2 My Work
          p Most of the code I write professionally is private / under NDA, but here are a few samples of fun projects you can check out.
          .project
            h3 tapdat
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .project
            h3 SPHR
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .project
            h3 Seattle Beer Review
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      a(href="#").resume
        h3 Download My Resume
      section.contact
        .inner-content
          h2 Contact
          p Shoot me an email at #[a(href="mailto:hello@rjlacount.com") hello@rjlacount.com] or fill out the following contact form. I'll get back to you as soon as possible.
          form.contact-form(action="#")
            input(type="text" name="name" placeholder="Name")
            input(type="text" name="email" placeholder="Email")
            textarea(name="message" placeholder="Message")
            input(type="submit" value="Submit")
      section.footer
        p &copy; 2016 R.J. LaCount. All rights reserved.