extends layouts/default

block content
  .hero
    .hero-content
      img.avatar(src="images/avatar.svg")
      h1 Hi! I'm R.J.
      p Nice to meet you.
  .main-content-wrapper
    .main-content
      section.about-me
        h2 About Me
        p I’m a front-end web developer and super-nerd in Seattle, Washington. I love Android, craft beer, music, and coffee.
        p I currently work for #[a(href="http://www.deloittedigital.com/us/") Deloitte Digital], volunteer for #[a(href="http://seattlepersianrescue.com") Seattle Persian and Himalayan Rescue], and chase around my internet celebrity cat, #[a(href="http://instagram.com/brimleycat") Brimley].
      section.my-work
        h2 My Work
        p Here's some of my work.
      section.contact
        h2 Contact
        p Here's how to get in touch with me.