doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title R.J. LaCount - Front End Engineer in Seattle, WA
    link(rel='apple-touch-icon', href='apple-touch-icon.png')

    // Default Meta
    meta(name='title', content='R.J. LaCount - Front End Engineer in Seattle, WA')
    meta(name='description', content='Web designer and front end engineer in Seattle, WA. Specializing in mobile-first responsive web design, HTML, CSS, JavaScript, and custom WordPress themes.')
    meta(name='author', content='R.J. LaCount')
    meta(name='Copyright', content='Copyright R.J. LaCount 2016. All Rights Reserved.')
    link(rel='author', href='https://plus.google.com/103073907319915131880/posts')

    // Open Graph meta
    meta(property='og:title', content='R.J. LaCount - Front End Engineer in Seattle, WA')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.rjlacount.com')
    meta(property='og:image', content='http://www.rjlacount.com/images/avatar-social.png')
    meta(property='og:site_name', content='R.J. LaCount - Front End Engineer in Seattle, WA')
    meta(property='og:description', content='Web designer and front end engineer in Seattle, WA. Specializing in mobile-first responsive web design, HTML, CSS, JavaScript, and custom WordPress themes.')

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    <!--[if lt IE 10]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->
    .container

      block content

    // Google Analytics
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-22060307-1');ga('send','pageview');

    // build:js scripts/vendor.js
    script(src="../bower_components/waypoints/lib/noframework.waypoints.min.js")
    script(src="../bower_components/smooth-scroll/dist/js/smooth-scroll.min.js")
    // bower:js
    // endbower
    // endbuild

    // build:js scripts/bundle.js
    script(src='scripts/bundle.js')
    // endbuild
