extends layouts/default

block content
  .hero
    .hero-content
      h1 Hi! I'm R.J.
      p Welcome to my website.
  .main-content
    .about-me
      h2 About Me
      p I’m a front-end web developer and super-nerd in Seattle, Washington.
      p I love Android, craft beer, music, and coffee.
